# Set R and RMarkdown as recognized languages
*.R linguist-language=R
*.rmd linguist-language=RMarkdown

# Treat HTML files as plain text
*.html linguist-language=Text

# Ignore specific directories or files (optional)
docs/* linguist-vendored

# Exclude JavaScript files
*.js linguist-vendored
*.json linguist-vendored
